.section {
    background: rgba(black, 0.85);
    padding: 54px 0px 44px 74px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
}

// .section h1 {
//     color: white;
//     text-align: center;
//     margin-bottom: 64px
// }
.title h1 {
    color: white;
    text-align: center;
    // margin-bottom: 64px
    background-color: black;
    margin: 0;
    padding: 10px 0px 20px 0px;
}